$footer-height: 60px;

body {
  width: 100%;
  min-height: 100%;
}

::-moz-scrollbars-vertical {
  display: none;
}


::-webkit-scrollbar {
  display: none;
}

#page-container {

  @media screen and (min-width: 400px) {
    margin-left: 5%;
    width: 90%;
  }
  @media screen and (min-width: 700px) {
    margin-left: 10%;
    width: 80%;
  }
  @media screen and (min-width: 1000px) {
    margin-left: 20%;
    width: 60%;
  }

}

#non-footer {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  transition: transform .5s;

  &.shift-up {
    transform: translateY(-$footer-height) !important;
  }
}
