button {
  font-size: 15px;
}

#stock-input {
  margin: 15px 0;
}

#help-block {
  margin: 10px 0;
}

#show-help {
  position: fixed;
  // width: calc(100% - 30px);
  width: auto;
  transform: translateY(-25px);
}
